*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  @media screen and (max-width: $one) {
    font-size: 60%;
  }
}

body {
  margin: 0;
  background-color: white;
  font-family: "Nunito Sans", sans-serif;
  overflow-x: hidden !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
}

a {
  display: inline-block;
}

#root {
  overflow-x: hidden !important;
}

.section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 2.4rem;
  margin-top: 6.2rem;
  // display: block;

  &-container {
    padding: 2rem 2rem 2rem 1rem;
    // padding-left: 3.7rem;
    max-width: var(--max-width);
    width: 98% !important;
    margin: 0 auto 10rem auto;

    @media screen and (max-width: $seven) {
      width: 70% !important;
      padding: 0;
      margin: 0 auto 10rem auto;
    }

    @media screen and (max-width: $eight) {
      width: 98% !important;
      padding: 2rem;
      margin: 0 auto 10rem 0;
    }
  }
}
